.blur{
    position: absolute;
    top: 24rem;
    z-index: 10;
    opacity: 70%;
}
.home__container {
    row-gap: 2rem;
    position: relative;
    z-index: 20;
}

.home__data{
    padding: 2rem 0;
    position: relative;
}


.home__content {
    grid-template-columns: 7fr 3fr;
    padding-top: 1rem;
    column-gap: 2rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.home__social-icon:hover {
    color: var(--title-color-dark);
}


.ornamen1 {
    width: 28px;
    height: 28px;
    margin-left: 1rem;
    position: relative;
    /* supaya bisa digeser */
    animation: shake 2s infinite ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}

.ornamen2 {
    width: 24px;
    height: 24px;
    margin-left: 2rem;
    position: relative;
    /* supaya bisa digeser */
    animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
        /* posisi normal */
    }

    50% {
        transform: translateY(-10px);
        /* naik 20px */
    }
}

.ornamen3 {
    width: 24px;
    height: 24px;
    margin-left: 14rem;
    position: absolute;
    top: 28rem;
    animation: shake 2s infinite ease-in-out;
}

.flex__text {
    display: flex;
    align-items: center;
    gap: 1rem;
}



.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
    font-weight: semibold;
    color: #E57B91;
    animation: blinkColor 1.5s infinite alternate;
}

.flex__text .home__span {
    color: #E57B91;
    animation: blinkColor 1.5s infinite alternate;
    font-weight: semibold;
    font-size: 1.3rem;
    background: linear-gradient(to right,
            rgba(255, 231, 236, 0.7),
            rgba(254, 254, 254, 0.7));
    padding: .5rem 1.5rem;
    border-radius: 100px;
}

@keyframes blinkColor {
    0% {
        color: #E57B91;
    }

    100% {
        color: #F8C5CF;
    }
}

.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle {
    position: relative;
    font-size: 2.5rem;
    /* padding-left: 3.5rem; */
    font-weight: 600;
    margin-bottom: var(--mb-1);
    color: #E57B91;
}

.home__subtitle span {
    color: #82AAEF;
}

.cursor {
    display: inline-block;
    width: 4px;
    height: 1em;
    background-color: #82AAEF;
    /* warna pink */
    margin-left: 4px;
    animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}


/* .home__subtitle::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1.5rem;
    color: #E57B91;
} */

.home__description {
    /* max-width: 500px; */
    margin-bottom: var(--mb-1-5);
}

.home__social {
    display: flex;
    gap: 1rem;
}

.home__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    width: 40px;
    height: 40px;
    background-color: #88AFF2;
    border-radius: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home__social-link:hover {
  transform: scale(1.2); /* membesar */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.086); /* ada shadow */
}

.home__social-link .uil {
    font-size: 1.3rem;
}

.home__img {
    background: url(../../assets/FCS_6412.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__scroll {
    padding: 2rem 0;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: #E57B91;
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: #E57B91;
}

/* BREAKPOINTS */
/* For Large Devices */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
    }

    .home__scroll {
        margin-left: 7.5rem;
    }
}

/* For Medium Devices*/
@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img {
        order: initial;
        justify-self: initial;
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
        width: 200px;
        height: 200px;

    }

    .home__data {
        grid-column: 1/3;
    }

    .home__scroll {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .home__img {
        width: 300px;
        height: 300px;
    }

    .home__hand {
        width: 22%;
        height: 22px;
    }
}